@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-teal-900 text-gray-200;
}

.ml-auto-container {
  margin-left: 10%;
  margin-right: 10%;
}

.text-color-custom {
  color: #d9fafc;
}

.titleAbout {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 125%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.customImage {
  width: 40%;
}

.animate-float {
  z-index: 1;
  -webkit-user-drag: none;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background-color: #1a3b3b;
  filter: blur(100px);
  z-index: -10;
}
.botBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 250px;
  top: -128px;
  right: -9vw;
  border-radius: 764px;
  background-color: var(--color-blur);
  filter: blur(100px);
  z-index: -10;
}

@media screen and (max-width: 1024px) {
  .container-page {
    flex-direction: column-reverse;
    align-items: center;
  }
}
